/* @font-face {
  src: url('fonts/AmstelvarAlpha-VF.ttf');
  font-family:'AmstelvarAlpha';
  font-style: normal;
} */

body,
html {
  background-color: ivory;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  /* margin: 0; */
}

header h1 {
  text-align: center;
  padding: 32px;
  font-size: 2.5em;
}

header {
  text-align: center;
  background: darkslategray;
  padding: 32px;
  color: ivory;
  /* border-bottom: 10px solid #eeba30; */
}

header nav {
  background: #eeba30;
  width: 930px;
  margin: 0 auto;
}

header nav ul a {
  text-decoration: none;
  color: ivory;
}

header nav ul li {
  display: inline-block;
  padding-right: 20px;

}

header nav li a {
  padding: 0px 5px 0px 5px
}

header nav li a:hover {
  background: coral;
}

main h2 {
  text-align: center;
  color: coral;
  font-size: 4em;
}

#sales-h2 {
  text-align: center;
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: coral;
  font-size: 2.5em;

}
article * {
  text-align: center;
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: rgb(201, 191, 188);
  font-size: 1em;

}

footer {
  position: fixed;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: 20px;
  /* Height of the footer */
  background: darkslategray;
  color: ivory;
}