/* @font-face {
  src: url('fonts/AmstelvarAlpha-VF.ttf');
  font-family:'AmstelvarAlpha';
  font-style: normal;
} */

body,
html {
  background-color: ivory;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  /* margin: 0; */
}

header h1 {
  text-align: center;
  padding: 32px;
  font-size: 2.5em;
}

header {
  text-align: center;
  background: darkslategray;
  padding: 32px;
  color: white;
  /* border-bottom: 10px solid #eeba30; */
}

header nav {
  background: #eeba30;
  width: 930px;
  margin: 0 auto;
}

header nav ul a {
  text-decoration: none;
  color: white;


}

header nav ul li {
  display: inline-block;
  padding-right: 20px;

}

header nav li a {
  padding: 0px 5px 0px 5px
}

header nav li a:hover {
  background: coral;
}


.nav_bar {
  background-color: darkslategray;
  text-align: center;

}


.genres {
  overflow: hidden;
  margin: 20px;
  display: inline
}

.genre_row_1 {
  display: inline;
}

body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("vinyls.jpg"); */

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img {
  border: 5px solid #555;
}

main h2 {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: coral;
  font-size: 4em;
}

footer {
  position: fixed;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* Height of the footer */
  background: darkslategray;
  color: white;
}